@use 'styles/colors' as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100dvh;
  background: linear-gradient(180deg, $blue, $blue-150);
  display: flex;
  flex-direction: column;
  color: $white;
  z-index: 100;
}

.sidebar__header {
  display: flex;
  align-items: center;
  padding: 0 24px 32px;
  margin-top: 48px;
  margin-bottom: 24px;

  .logo-image {
    width: 42px;
    height: 42px;
    object-fit: contain;
    margin-left: 8px;
    margin-right: 16px;
  }

  .logo-text {
    font-size: 20px;
    font-weight: 600;
    color: $white;
  }
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 16px 28px;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  .label {
    font-size: 16px;
    font-weight: 400;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }

  &:hover {
    background-color: $blue-100;
    color: $blue;

    .icon {
      filter: none;
    }
  }

  &.active {
    background-color: $blue-50;
    color: $blue;

    .icon {
      filter: none;
    }
  }
}

.menu-logout {
  margin-top: 260px;
  display: flex;
  align-items: center;
  padding: 16px 28px;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  .label {
    font-size: 16px;
    font-weight: 400;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }

  &:hover {
    background-color: $blue-100;
    color: $blue;

    .icon {
      filter: none;
    }
  }

  &.active {
    background-color: $blue-50;
    color: $blue;

    .icon {
      filter: none;
    }
  }
}

.menu-logout-admin {
  margin-top: 420px;
  display: flex;
  align-items: center;
  padding: 16px 28px;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  .label {
    font-size: 16px;
    font-weight: 400;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }

  &:hover {
    background-color: $blue-100;
    color: $blue;

    .icon {
      filter: none;
    }
  }

  &.active {
    background-color: $blue-50;
    color: $blue;

    .icon {
      filter: none;
    }
  }
}