<div class="add-stock-container">
  <h2>Add Stock</h2>
  <form (ngSubmit)="onSubmit()" class="card-form">
    <!-- Stock Search -->
    <div class="form-group stock-search-wrapper">
      <label for="stock">Search Stock</label>
      <input
        name="searchStock"
        [ngModel]="searchQuery"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Search stocks (e.g., AAPL, TSLA)..."
        class="search-input"
        autocomplete="off"
      />

      <!-- Dropdown -->
      <div class="stock-dropdown" *ngIf="stocks.length > 0">
        <div
          class="stock-dropdown-item"
          *ngFor="let stock of stocks"
          (click)="
            searchQuery = getStockDisplay(stock); onStockSelected(getStockValue(stock)); stocks = []
          "
        >
          {{ getStockDisplay(stock) }}
        </div>
      </div>
    </div>

    <!-- Stock Price -->
    <div class="form-group">
      <label for="price">Stock Price</label>
      <input
        placeholder="$"
        type="text"
        class="search-input"
        [value]="stockPrice !== null ? '$' + stockPrice : '$'"
        disabled
      />
    </div>

    <!-- Quantity -->
    <div class="form-group">
      <label for="quantity">Stock Quantity</label>
      <input
        name="qty"
        type="number"
        [(ngModel)]="quantity"
        (ngModelChange)="calculateTotalPrice()"
        class="search-input"
      />
    </div>

    <!-- Total Price -->
    <div class="form-group">
      <label for="total_price">Total Price</label>
      <input
        type="text"
        [value]="totalPrice | currency : 'USD' : 'symbol'"
        class="search-input"
        disabled
      />
    </div>

    <!-- Dialog Buttons -->
    <div class="dialog-actions">
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn-submit">Add Stock</button>
    </div>
  </form>
</div>
