<div class="stock-search-container">
  <input
    [ngModel]="searchQuery"
    (ngModelChange)="onSearchChange($event)"
    placeholder="Search stocks (e.g., AAPL, TSLA)..."
    class="search-input"
    autocomplete="off"
  />

  <select
    [ngModel]="selectedStockValue"
    (ngModelChange)="onStockSelected($event)"
    class="stock-select"
  >
    <option value="">Select a stock...</option>
    <option *ngFor="let stock of stocks" [value]="getStockValue(stock)">
      {{ getStockDisplay(stock) }}
    </option>
  </select>

  <!-- <div class="stock-lists" *ngFor="let stock of stocks">
    <span>{{ stock.name }}</span>
  </div> -->

  <!-- <pre>{{ stocks | json }}</pre>
  <p>Jumlah Stock: {{ stocks?.length }}</p>

  <ul *ngIf="stocks.length > 0">
    <li *ngFor="let stock of stocks; let i = index" class="stock-item">
      <div class="stock-info">
        <span class="stock-symbol">{{ stock.symbol }}</span>
        <span class="stock-name">
          {{ stock.name }}
        </span>
      </div>
    </li>
  </ul> -->

  <span *ngIf="loading">Searching...</span>
</div>
