// primary colour

$black: #000000;
$white: #ffffff;
$green: #1b602f;
$blue: #000072;

// secondary colour
$green-50: #8daf97;
$green-100: #6a9e79;
$green-150: #488159;

$blue-50: #8080b8;
$blue-100: #404095;
$blue-150: #202084;
