<div class="resetPassword-page">
  <div class="card">
    <div class="logo">
      <div class="top">
        <img src="logo.png" alt="NaraTrad" />
        <h1>NaraTrad</h1>
      </div>
      <p>Stock Portfolio Tracker</p>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>New Password</label>

        <div class="password-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="newPassword"
            placeholder="Enter your new password"
          />

          <span class="eye material-icons" (click)="showPassword = !showPassword">
            {{ showPassword ? 'visibility_off' : 'visibility' }}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>

        <div class="password-group">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="Confirm your new password"
          />

          <span class="eye material-icons" (click)="showConfirmPassword = !showConfirmPassword">
            {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
          </span>
        </div>
      </div>

      <div
        class="error"
        *ngIf="submitted && resetPasswordForm.get('newPassword')?.errors?.['minlength']"
      >
        Password minimal 6 karakter
      </div>

      <div class="error" *ngIf="submitted && resetPasswordForm.errors?.['passwordMismatch']">
        Password dan konfirmasi tidak sama
      </div>

      <button type="submit" [disabled]="loading || !isBothFilled()">Reset Password</button>
      <a routerLink="/login" class="back-to-login">← Back to Login</a>
    </form>
  </div>
</div>
