<div class="forgotPassword-page">
  <div class="card">
    <div class="logo">
      <div class="top">
        <img src="logo.png" alt="NaraTrad" />
        <h1>NaraTrad</h1>
      </div>
      <p>Stock Portfolio Tracker</p>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email Address</label>
        <input type="email" formControlName="email" placeholder="Enter your email" />
      </div>

      <button type="submit" [disabled]="forgotPasswordForm.invalid || loading">
        Send Reset Link
      </button>

      <a routerLink="/reset-password" class="reset"> reset</a>
      <a routerLink="/login" class="back-link"> <- Back to login</a>
    </form>
  </div>
</div>
