.dashboard-container {
  .mat-mdc-table {
    background-color: transparent !important;
  }
  .mat-mdc-header-row {
    background-color: #0a0f6c;
  }
  .mat-mdc-row {
    background-color: transparent !important;
  }
  .mat-mdc-header-cell {
    background-color: #0a0f6c;
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 600;
    padding: 18px;
    border-bottom: none;
  }
  .mat-mdc-cell {
    background-color: transparent !important;
    font-size: 18px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  margin-left: 260px;
  padding: 32px;
  font-family: 'Outfit', sans-serif;
  background-color: #ffffff;
}

/* ===== Header ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .title {
    font-size: 32px;
    font-weight: 700;
    color: #0a0f6c;
  }

  .add-btn {
    background-color: #2f5d2f;
    color: #fff;
    border-radius: 24px;
    padding: 8px 20px;
  }
}