// Angular Material 17 Theme Configuration
@use './styles/colors' as *;
@use '@angular/material' as mat;

@include mat.core();

// Define custom palettes (gunakan palette Material standard dulu)
$primary-palette: mat.define-palette(mat.$indigo-palette);
$accent-palette: mat.define-palette(mat.$pink-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

// Create the theme
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    typography:
      mat.define-typography-config(
        $font-family: 'Outfit, "Helvetica Neue", sans-serif',
      ),
    density: 0,
  )
);

// Apply the theme to all Material components
@include mat.all-component-themes($theme);

// Global styles

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

input,
textarea,
select {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
}

button {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
}

// Material button
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-flat-button,
.mat-mdc-stroked-button,
.mat-mdc-icon-button,
.mat-mdc-fab,
.mat-mdc-mini-fab {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
}

// Placeholder styles
::placeholder {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
  opacity: 1; // Firefox
}

::-webkit-input-placeholder {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
}

::-moz-placeholder {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
}

::-ms-input-placeholder {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
}

// Khusus untuk Material Form Field
.mat-mdc-form-field {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;

  input::placeholder {
    font-family: 'Outfit', 'Helvetica Neue', sans-serif;
  }
}

// untuk hilangan style bawaan snackbar
.toast-panel.mat-mdc-snack-bar-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.toast-panel .mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

::ng-deep button.mat-raised-button.btn-submit {
  background-color: #2f5d2f;
  color: #fff;
}
